
.icon-desktop:before { content: '\e800'; } /* '' */
.icon-lightbulb:before { content: '\e801'; } /* '' */
.icon-clock-circled:before { content: '\e802'; } /* '' */
.icon-flag:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-gauge:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\e806'; } /* '' */
.icon-facebook:before { content: '\e807'; } /* '' */